@model IList<PhotoMSK.Data.Models.TextPage>
<div class="uk-container uk-container-center">
    <div class="uk-grid uk-flex uk-flex-middle">
        <div class="uk-width-1-5">
            <a href="#">
                <img src="@Url.Content("/Content/images/logo-shape-black.svg")" alt="" />
            </a>
        </div>
        <div class="uk-width-4-5 uk-margin-small-top">
            <ul class="uk-breadcrumb">
                <li><a href="#" class="uk-text-bold uk-link-muted">Все страницы</a></li>
            </ul>
        </div>
    </div>
    <div class="uk-grid">
        <div class="uk-width-1-5">
            <div class="uk-button-back uk-text-center">
                <a href="@Url.Action("Create", "Page")" class="uk-button-add uk-button uk-width-1-1 uk-flex uk-flex-middle">
                    <i class="uk-icon-plus button-add"></i>&nbsp;<span class="uk-text-bold">Страницу</span>
                </a>
            </div>
            <div class="uk-panel uk-panel-box uk-panel-box-item">
                <span class="uk-text-bold"><span>Нужна помощь?</span></span>
                <p class="uk-text-muted">Проконсультируем по вопросам работы с сайтом.</p>
                <p>
                    <a href="#" class="uk-button uk-width-1-1">Заказать звонок</a>
                </p>
            </div>
            <h5 class="uk-text-bold">Справочник</h5>
            <ul class="uk-list uk-list-space uk-list-dotted">
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Типы меню</a></li>
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Отображение элементов меню</a></li>
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Создание выпадающего меню</a></li>
                <li><a href="#" class="uk-text-small">ещё...</a></li>
            </ul>
        </div>
        <div class="uk-width-4-5">
            <div class="uk-panel uk-panel-content-box">
                <table class="uk-table uk-table-hover uk-table-middle">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th class="uk-text-center">Статус</th>
                            <th>Тип страницы</th>
                            <th class="uk-text-center">Доступ</th>
                            <th>Кем создана</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit", "Page", new { area = "WhiteLabel", id = item.ID })" clas class="uk-link-muted uk-link-dotted">@item.Title</a>
                                    <p class="uk-text-small uk-margin-remove">
                                        <span class="uk-text-muted">(Alias: @item.Slug)</span>
                                    </p>
                                </td>
                                <td class="uk-text-center">
                                    <i class="icon-action icon-show uk-icon-check"></i>
                                </td>
                                <td>Текстовая страница</td>
                                <td class="uk-text-center">Все</td>
                                <td>
                                    <a href="#" class="uk-text-muted uk-link-line">@item.UserInformation.FirstName @item.UserInformation.FirstName </a>
                                    <p class="uk-text-small uk-margin-remove">
                                        <small class="uk-text-muted">(Дата: )</small>
                                    </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
