<div class="uk-grid uk-grid-search uk-grid-small">
    <div class="uk-width-1-6">
        <a href="@Html.Raw(PhototechnicsDefinition.Shortcut)">
            <img src="@Html.Raw(PhototechnicsDefinition.Image)" alt="@Html.Raw(PhototechnicsDefinition.Name)" class="uk-align-medium-left">
        </a>
    </div>
    <div class="uk-width-5-6">
        <a href="@Html.Raw(PhototechnicsDefinition.Shortcut)" class="uk-link-muted">
            <strong>@Html.Raw(PhototechnicsDefinition.Name)</strong>
            <p class="uk-margin-remove uk-text-small">
                @Html.Raw(PhototechnicsDefinition.ShortDescription)
            </p>
            <strong class="uk-float-right">
                @Html.Raw(PhototechnicsDefinition.CalculatedPrice) бел. руб.
            </strong>
        </a>
    </div>
</div>
