@model PhotoMSK.Areas.Default.ViewData.Register.EditViewData

@{ Layout = "~/Areas/Default/Views/Shared/_LayoutRegistration.cshtml";}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Item.ID)

    <div class="l-side">
        <div class="uk-container uk-container-center pad-top-60">
            <div class="uk-grid">
                <div class="uk-width-large-3-10 uk-width-medium-5-10 uk-push-2-10 uk-width-small-1-1">
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <a href="~/">
                                <img src="@Url.Content("~/Content/images/logo-black-big.png")" alt="PhotoMSK.by" />
                            </a>
                        </div>

                        <div class="uk-width-1-1 pad-top-10">
                            <h1 class="pad-top-20 uk-margin-bottom-remove">Вы почти у цели!</h1>
                            <small class="uk-text-muted">Внесити ваши данные для <span class="uk-link-dotted" data-uk-tooltip title="Приватный профиль не отображается на сайте">приватного</span> профиля на сайте.</small>
                        </div>

                        <div class="uk-width-1-1">
                            <div class="uk-grid pad-top-40 ">
                                <div class="uk-width-large-1-1 uk-width-small-1-1">
                                    <label class="label-ms">Введите проверочный код из СМС <i class="icon-help green-color" data-uk-tooltip title="Введите код, полученный в СМС."></i></label>
                                    @Html.TextBoxFor(model => model.Item.ConfirmCode, new { @class = "bold uk-text-center input-msk uk-width-large-1-1 uk-width-small-1-1", @Value = "" })
                                    @Html.ValidationMessageFor(model => model.Item.ConfirmCode)
                                </div>

                                <div class="uk-width-1-1">
                                    <div class="orbullet">ДАННЫЕ</div>
                                    <div class="orbullet-divider"></div>
                                </div>

                                <div class="uk-width-large-1-1 uk-width-small-1-1">
                                    <label class="label-ms">Фамилия</label>
                                    @Html.TextBoxFor(model => model.Item.FirstName, new { @class = "input-msk uk-width-large-1-1 uk-width-small-1-1" })
                                    @Html.ValidationMessageFor(model => model.Item.FirstName)
                                </div>

                                <div class="uk-width-large-1-1 uk-width-small-1-1">
                                    <label class="label-ms">Имя</label>
                                    @Html.TextBoxFor(model => model.Item.LastName, new { @class = "input-msk uk-width-large-1-1 uk-width-small-1-1" })
                                    @Html.ValidationMessageFor(model => model.Item.LastName)
                                </div>

                                <div class="uk-width-large-1-1 uk-width-small-1-1">
                                    <label class="label-ms">Логин</label>
                                    @Html.TextBoxFor(model => model.Item.UserName, new { @class = "input-msk uk-width-large-1-1 uk-width-small-1-1" })
                                    @Html.ValidationMessageFor(model => model.Item.UserName)
                                </div>

                                <div class="uk-width-large-1-1 uk-width-small-1-1">
                                    <label class="label-ms">Пароль</label>
                                    @Html.TextBoxFor(model => model.Item.Password, new { @type = "password", @class = "input-msk uk-width-large-1-1 uk-width-small-1-1" })
                                    @Html.ValidationMessageFor(model => model.Item.Password)
                                </div>
                            </div>

                            <div class="uk-grid pad-bottom-20">
                                <div class="uk-width-1-1 uk-text-right">
                                    <a class="reset" href="@Url.Action("Index", "Home")">отмена</a>
                                    <input type="submit" class="uk-form-button-small uk-button uk-button-success" value="Отправить">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<div class="r-side uk-visible-large">
    <div class="promo">
        <h1 class="promo-main-head"><span class="promo-head-part">Глобальный </span> <br>сайт для фото</h1>
        <div class="promo-content">
            <div class="promo-message">
                <div class="promo-message-decore">
                    <span class="date">@DateTime.Now.Day <sup>@DateTime.Now.ToString("MMMM")</sup></span>
                    <p class="city">
                        PhotoMSK — это место, где фотографы могут обмениваться опытом одновременно приобретая новый!
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>