@using PhotoMSK.Data.Models.Routes
@using Fotobel.App_Start.Minification
@using Fotobel.Minification.UIKIT
<!DOCTYPE html>
<html ng-app="whitelabel.bel">

<head>
    <meta name="google-site-verification" content="bGJbzBsq0N98AblQEaMQhJ1EnpPuyaDb9O-FMxvsVL4" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фото.бел</title>
    <base href="/">
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Plugins/fullcalendar/dist/fullcalendar.css")
    @Styles.Render(UiKit217.StyleBundle)
    @Scripts.Render("~/bundles/modernizr")
    @* ================= *@
    <!-- <link rel="stylesheet" href="@Url.Content("~/Plugins/ng-tags-input/ng-tags-input.min.css")"> @* *************** *@ -->

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,500,400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="~/Plugins/angular-ui-tree/dist/angular-ui-tree.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Reset.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Icons.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Grid.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Flex.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Utilits.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Text.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Dropdown.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Paginator.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Popover.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Button.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Sort.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Tags.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Catalog.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Breadcrumb.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Badge.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Placeholder.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/HallProfile.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Filter.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Avatar.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Tooltip.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Activity.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Step.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/EditToolBar.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Panel.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Zone.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Balance.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Photographer.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Upload.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Action.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Player.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Table.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/FileManager.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Booking.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Technics.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Palete.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/TreeNode.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Sortable.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Vote.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/WidgetBar.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Widgets.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Block.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Comment.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Statistic.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Accordion.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Tab.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Penalty.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/TopMenu.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/List.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Repair.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/TechList.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Reset--uikit.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Input.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Modal.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Hall.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Dashboard.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Slider.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Photostudio.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Plugins/intl-tel-input/build/css/intlTelInput.css ")">
    <link rel="stylesheet" href="@Url.Content("~/Plugins/jquery-timepicker-jt/jquery.timepicker.css ")">
    <link rel="stylesheet" href="@Url.Content("~/Plugins/angularjs-slider/dist/rzslider.min.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Plugins/nprogress/nprogress.css ")">
    <link rel="stylesheet" href="@Url.Content("~/Plugins/angucomplete-alt/angucomplete-alt.css ")">

    <link rel="stylesheet" href="@Url.Content("~/Plugins/codemirror/lib/codemirror.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plugins/codemirror/theme/eclipse.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Components/Reset--plugins.css ")" />

    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Default/Default.css ")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Admin/Admin.css ")" />
    <link href="~/Plugins/ng-img-crope/ng-img-crop.css" rel="stylesheet" />
    <!-- <link href="~/Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" /> -->
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300"> -->
    <link href="~/Plugins/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
    <!-- <link href="~/Plugins/textAngular/dist/textAngular.css" rel="stylesheet" /> -->
</head>

<body>
    <link ng-init="Route='@Model'"></link>


    @Scripts.Render(BaseBundle.ScriptBundle)

    @RenderBody()

    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + typeof(Startup).Assembly.GetName().Version + "\"></script>", "~/App")
</body>

</html>