@using PhotoMSK.Extensiolns
@model PhotoMSK.Areas.Default.ViewData.WhiteLabelViewData

<div class="uk-grid uk-grid-small">
    <div class="uk-width-3-10">
        <div class="uk-panel uk-panel-box uk-panel-box-dark">
            <span class="uk-h3">
                <a href="@Html.MakeUrl(Model.Route,"catalog")" class="uk-link-reset"><span class="uk-image-marker"></span> КАТАЛОГ</a>
            </span>
        </div>
        <div class="uk-panel uk-panel-box uk-panel-left-category">
            <ul class="uk-list uk-list-line">
                @for (int i = 0; i < 11; i++)
                {
                    <li><a href="#">Проверка</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="uk-width-7-10">
        <div class="uk-slidenav-position" data-uk-slideshow="{autoplay:true}">
            <ul class="uk-slideshow">
                <li class="uk-active">
                    <div class="uk-cover-background uk-position-cover" style="background-image: url(@Url.Content("~/Themes/Photoshop/ftt.by/Content/images/room/fotoroom-1.jpg"));"></div>
                    <img src="@Url.Content("~/Themes/Photoshop/ftt.by/Content/images/room/fotoroom-1.jpg")" alt="">
                    @*<div class="uk-caption uk-caption-bottom uk-caption-panel uk-animation-slide-bottom">
                            <h1 class="uk-caption-title">МАГАЗИН В САМОМ СЕРДЦЕ МИНСКА</h1>
                            <p class="uk-caption-description uk-h3">ул. Немиги 8 (ст. метро «Немига»)</p>
                        </div>*@
                </li>
                <li>
                    <div class="uk-cover-background uk-position-cover" style="background-image: url(@Url.Content("~/Themes/Photoshop/ftt.by/Content/images/room/fotoroom-2.jpg"));"></div>
                    <img src="@Url.Content("~/Themes/Photoshop/ftt.by/Content/images/room/fotoroom-2.jpg")" alt="" style="max-height: 421px;">
                    @*<div class="uk-caption uk-caption-top uk-caption-panel uk-animation-slide-top">
                            <h1 class="uk-caption-title">Текст...</h1>
                        </div>*@
                </li>
                <li>
                    <div class="uk-cover-background uk-position-cover" style="background-image: url(@Url.Content("~/Themes/Photoshop/ftt.by/Content/images/room/fotoroom-3.jpg"));"></div>
                    <img src="@Url.Content("~/Themes/Photoshop/ftt.by/Content/images/room/fotoroom-3.jpg")" alt="" style="max-height: 421px;">
                    @*<div class="uk-caption uk-caption-top uk-caption-panel uk-animation-slide-top">
                            <h1 class="uk-caption-title">Текст...</h1>
                        </div>*@
                </li>
            </ul>
            <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slideshow-item="next"></a>
            @*<ul class="uk-dotnav uk-dotnav-top-right uk-text-center">
                    <li data-uk-slideshow-item="0" class="uk-active"><a href="#">Item 1</a></li>
                    <li data-uk-slideshow-item="1"><a href="#">Item 2</a></li>
                </ul>*@
        </div>
    </div>
</div>