@using PhotoMSK.Extensiolns
@using PhotoMSK.Models
@using StackExchange.Profiling
@{
    Layout = null;
    ViewBag.Title = "Админ панель";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render(UiKit220.StyleBundle)
    @Styles.Render("~/Content/fullcalendar")
    @Styles.Render("~/Content/jquery-ui")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Admin/style")
    @Scripts.Render("~/bundles/jquery")

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Roboto+Condensed:300,400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2014.2.903/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.2.903/kendo.aspnetmvc.min.js")"></script>
</head>
<body class="admin-dashboard">
    @*@Html.Action("Chat", new { Controller = "Home", Area = "Admin" })*@
    @*<div id="admin-left-menu" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            @Html.Action("LeftAdministrativeMenu", new { Controller = "Home", Area = "Admin" })
        </div>
    </div>*@

    <nav class="uk-navbar">
        <div class="uk-container uk-container-center">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#admin-left-menu" class="uk-navbar-toggle" data-uk-offcanvas></a>
                </li>
                <li class="uk-text-center">
                    <a href="@this.Request.UrlReferrer" class="uk-navbar-nav-subtitle">
                        <i class="uk-icon-long-arrow-left"></i><div>назад</div>
                    </a>
                </li>
                <li>
                    <div>
                        @Html.ActionLink("Вернуться на сайт", "Index", new { area = "Default", controller = "Home" }, new { @class = "uk-button" })
                    </div>
                </li>
            </ul>

            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    <li class="uk-text-center">
                        <a href="@Url.Action("Index",new {Controller="PlasticCard",Area="Admin"} )" class="uk-navbar-nav-subtitle"><i class="uk-icon-credit-card"></i><div>карточки</div></a>
                    </li>
                    <li class="uk-text-center">
                        <a href="@Url.Action("Index",new {Controller="Statistics",Area="Admin"} )" class="uk-navbar-nav-subtitle"><i class="uk-icon-signal"></i><div>статистика</div></a>
                    </li>
                    <li class="uk-text-center">
                        <a href="#offcanvas-chat" data-uk-offcanvas="" class="uk-navbar-nav-subtitle"><i class="uk-icon-send-o"></i><div>сообщения</div></a>
                    </li>
                    <li class="uk-parent" data-uk-dropdown="">
                        @Html.Action("UserInformation", new { Controller = "Home", Area = "Admin" })
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    @RenderBody()

    <div class="uk-mobile" style="display: none">
        <div class="phone">
            <div class="circle"></div>
            <div class="circle-fill"></div>
            <div class="img-circle"></div>
        </div>
    </div>

   
    @Scripts.Render(UiKit220.ScriptBundle)
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/Scripts/resize")
    @Scripts.Render("~/Scripts/ionrangeSlider")
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    @Scripts.Render("~/Backbone")
    @Html.Partial("~/Areas/Admin/Views/Shared/_Templates.cshtml")
    @Scripts.Render("~/Admin")
    @Scripts.Render("~/Scripts/Chart")
    @Scripts.Render("~/Scripts/intlTelInput")
    @MiniProfiler.RenderIncludes()
    @RenderSection("Scripts", false)
    <div id="config-settings" data-upload-url="@Html.GetUploadUrl()" data-application-url="@Html.GetApplicationUrl()"></div>

    <script>
        $("#hall-square").ionRangeSlider({
            min: 0,
            max: 400,
            type: 'single',
            step: 10,
            maxPostfix: "+",
            postfix: " кв.м.",
            prettify: false,
            hasGrid: true
        });
    </script>

    <script>
        $("#hall-square").ionRangeSlider({
            min: 0,
            max: 400,
            type: 'single',
            step: 10,
            maxPostfix: "+",
            postfix: " кв.м.",
            prettify: false,
            hasGrid: true
        });
    </script>
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter25774385 = new Ya.Metrika({
                        id: 25774385,
                        webvisor: true,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>

    <script>
        var input = $("#mobile-number");

        input.intlTelInput({
            defaultCountry: "auto",
            preferredCountries: ["by", "ru", "ua"],
            utilsScript: "@Url.Content("~/Scripts/utils.js")"
        });

        input.on("invalidkey", function () {
            input.addClass("flash");
            setTimeout(function () {
                input.removeClass("flash");
            }, 100);
        });
    </script>

<script>
    var myData = {
        labels: ["Пн", "Вт", "Ср", "Чт", "Пн", "Сб", "Вс"],
        datasets: [
            {
                fillColor: "rgba(210,230,241,.7)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                data: [65, 59, 90, 81, 56, 55, 40]
            },
            {
                fillColor: "rgba(150,200,220,.5)",
                strokeColor: "rgba(90,180,215,1)",
                pointColor: "rgba(90,180,215,1)",
                pointStrokeColor: "#fff",
                data: [40, 48, 40, 40, 90, 27, 90]
            }
        ]
    }

    new Chart(document.getElementById("canvas").getContext("2d")).Line(myData);
</script>

</body>
</html>