@model PhotoMSK.Models.EditViewModel.Routes.RouteEditModel

@* Social Network *@

<div class="uk-width-1-1">
    <div class="uk-section">
        <span class="uk-section__counter">7</span>
        <span class="uk-section__title">Социальные сети</span>
    </div>
</div>

<div class="uk-width-6-10 uk-push-2-10">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <label class="label-ms">ВКонтакте <i class="uk-icon-question"></i></label>
            <div class="input-group">
                <div class="input-group-addon">www.vk.com/</div>
                @Html.TextBoxFor(model => model.Vk, new { @class = "form-control input-ms uk-width-1-1", data_role_input_optional = "", Placeholde = "id*******" })
                @Html.ValidationMessageFor(model => model.Vk)
            </div>
        </div>
        <div class="uk-width-1-1">
            <label class="label-ms">Facebook <i class="uk-icon-question"></i></label>
            <div class="input-group">
                <div class="input-group-addon">www.facebook.com/</div>
                @Html.TextBoxFor(model => model.Facebook, new { @class = "form-control input-ms uk-width-1-1", data_role_input_optional = "", Placeholde = "#" })
                @Html.ValidationMessageFor(model => model.Facebook)
            </div>
        </div>
        <div class="uk-width-1-1">
            <label class="label-ms">Instagram <i class="uk-icon-question"></i></label>
            <div class="input-group">
                <div class="input-group-addon">www.instagram.com/</div>
                @Html.TextBoxFor(model => model.Instagram, new { @class = "form-control input-ms uk-width-1-1", data_role_input_optional = "", Placeholde = "#" })
                @Html.ValidationMessageFor(model => model.Instagram)
            </div>
        </div>
        <div class="uk-width-1-1">
            <label class="label-ms">Twitter <i class="uk-icon-question"></i></label>
            <div class="input-group">
                <div class="input-group-addon">www.twitter.com/</div>
                @Html.TextBoxFor(model => model.Twitter, new { @class = "form-control input-ms uk-width-1-1", data_role_input_optional = "", Placeholde = "#" })
                @Html.ValidationMessageFor(model => model.Twitter)
            </div>
        </div>
    </div>
</div>


