@{
    Layout = null;
}

@*<div class="best-20-ph uk-text-center">
        <a href="@Url.Action("Go", "Ads", new {id = Model.ID})">
            <p>@Model.Title</p>
            <h1>@Model.Subtitle</h1>
            <img src="@Model.Image" />
            <br>
            <p>@Model.Description</p>
        </a>
    </div>*@


<!-- Сайдбар фотомск -->
<!-- 200 на 200 -->
<ins class="adsbygoogle uk-width-1-1"
     style="display:inline-block;height:200px"
     data-ad-client="ca-pub-2413993251449720"
     data-ad-slot="2340604812"></ins>
