
<div id="fourthBlock">
    <div class="uk-container uk-container-center uk-text-center">

        <div class="uk-text-center uk-flex uk-flex-middle uk-grid-width-1-6 uk-text-center">
            <div class="uk-margin-right">
                <a href="http://www.aquabel.by/" target="_blank">
                    <img src="@Url.Content("~/Themes/Page/photocollege.by/Content/images/logos/logo-expobel.png")" />
                </a>
            </div>
            <div class="uk-margin-right">
                <a href="http://www.trendcorner.by/ru/" target="_blank">
                    <img src="@Url.Content("~/Themes/Page/photocollege.by/Content/images/logos/logo-trend-corner.png")" />
                </a>
            </div>
            <div class="uk-margin-right">
                <a href="http://moyasvadba.by/" target="_blank">
                    <img src="@Url.Content("~/Themes/Page/photocollege.by/Content/images/logos/logo-moya-svadba.png")" />
                </a>
            </div>
            <div class="uk-margin-right">
                <a href="http://www.21vek.by/" target="_blank">
                    <img src="@Url.Content("~/Themes/Page/photocollege.by/Content/images/logos/logo-21-vek.png")" />
                </a>
            </div>
            <div class="uk-margin-right">
                <a href="http://www.alutech-group.com/" target="_blank">
                    <img src="@Url.Content("~/Themes/Page/photocollege.by/Content/images/logos/logo-alutech.png")" />
                </a>
            </div>
        </div>

    </div>
</div>