@{
    ViewBag.Title = "PRO Аккаунт";
}

<div class="uk-container uk-container-center pad-top-40 uk-pro-account">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1 class="uk-pro-account-title uk-margin-remove">PRO аккаунт</h1>
            <small class="uk-text-muted">Сейчас мы подробно расскажем как PRO увеличит ваши заработки на нашем сайте...</small>
        </div>
    </div>

    <div class="uk-grid">
        <div class="uk-width-1-1">
            <ul class="uk-tab uk-tab-events" data-uk-tab="{connect:'#tab-content'}">
                <li class="uk-active"><a href="#">Фотографу</a></li>
                <li class="uk-disabled"><a href="#">Модели</a></li>
                <li class="uk-disabled"><a href="#">Фотостудии</a></li>
                <li class="uk-tab-responsive uk-active uk-hidden"><a>Tab</a><div class="uk-dropdown uk-dropdown-small"><ul class="uk-nav uk-nav-dropdown"></ul><div></div></div></li>
            </ul>

            <ul id="tab-content" class="uk-switcher uk-margin-large">
                <li class="uk-active uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.uk-pro-account-item'}">

                    <section class="uk-width-1-2 uk-pro-account-item uk-margin-large-bottom">
                        <img src="@Url.Content("~/Content/images/pro/no-redirect.png")" alt="No redirect" class="uk-float-left uk-pro-account-item-image">
                        <div class="uk-pro-account-description">
                            <h3 class="uk-pro-account-title-small">Интерфейс на сайте</h3>
                            <p class="uk-pro-account-description-small">
                                PRO аккаунт позволяет получить больше возможностей в веб интерфейсе на сайте PhotoMSK. Мы делаем все больше новшеств на сайте и часть из них доступна только для обладателей PRO аккаунтов.
                            </p>
                        </div>
                    </section>

                    <section class="uk-width-1-2 uk-pro-account-item uk-margin-large-bottom">
                        <img src="@Url.Content("~/Content/images/pro/fraud.png")" alt="No redirect" class="uk-float-left uk-pro-account-item-image">
                        <div class="uk-pro-account-description">
                            <h3 class="uk-pro-account-title-small">Забудь про бумажки!</h3>
                            <p class="uk-pro-account-description-small">
                                Оплачивай многочисленные услуги на сайте с использованием пластиковых карточек VISA.
                            </p>
                        </div>
                    </section>

                    <section class="uk-width-1-2 uk-pro-account-item uk-margin-large-bottom">
                        <img src="@Url.Content("~/Content/images/pro/simple.png")" alt="No redirect" class="uk-float-left uk-pro-account-item-image">
                        <div class="uk-pro-account-description">
                            <h3 class="uk-pro-account-title-small">Интерфейс на сайте</h3>
                            <p class="uk-pro-account-description-small">
                                Мы удвоим ваши заработки в вашей сфере деятельности. А для этого необходим PRO аккаунт.
                            </p>
                        </div>
                    </section>

                    <section class="uk-width-1-2 uk-pro-account-item uk-margin-large-bottom">
                        <img src="@Url.Content("~/Content/images/pro/white-lebel.png")" alt="No redirect" class="uk-float-left uk-pro-account-item-image">
                        <div class="uk-pro-account-description">
                            <h3 class="uk-pro-account-title-small">Нужен сайт?</h3>
                            <p class="uk-pro-account-description-small">
                                Мы предоставим вам вашу персональную страничку в виде персонального сайта, где не будет конкурентов.
                            </p>
                        </div>
                    </section>

                    <section class="uk-width-1-2 uk-pro-account-item uk-margin-large-bottom">
                        <img src="@Url.Content("~/Content/images/pro/complicated.png")" alt="No redirect" class="uk-float-left uk-pro-account-item-image">
                        <div class="uk-pro-account-description">
                            <h3 class="uk-pro-account-title-small">Интерфейс на сайте</h3>
                            <p class="uk-pro-account-description-small">
                                Просто купите у нас PRO аккаунт.
                            </p>
                        </div>
                    </section>

                    <section class="uk-width-1-2 uk-pro-account-item uk-margin-large-bottom">
                        <img src="@Url.Content("~/Content/images/pro/pci.png")" alt="No redirect" class="uk-float-left uk-pro-account-item-image">
                        <div class="uk-pro-account-description">
                            <h3 class="uk-pro-account-title-small">Нужен сайт?</h3>
                            <p class="uk-pro-account-description-small">
                                Мы будем бегать через PCE порт к вам в гости :)
                            </p>
                        </div>
                    </section>
                    
                    @*<div class="uk-width-1-1">
                            <div class="uk-pro-account-price">
                                <h2 class="uk-pro-account-title uk-margin-remove">Цена</h2>
                                <small>цена выставляется за 3 месяца использования PRO аккаунтом</small>
                                <p class="">
                                    <span class="uk-pro-account-price-number">365$</span>
                                </p>
                            </div>
                        </div>
                    *@

                    <div class="uk-width-1-2">
                        <div class="btn-dogecoin">
                            <div class="symbol">Ð </div>
                            <p><span class="currency">50$ в месяц</span></p>
                        </div>
                    </div>

                    <div class="uk-width-1-2">
                        <div class="btn-dogecoin black donate">
                            <div class="symbol">Ð </div>
                            <p><span class="currency">100$ в месяц</span></p>
                        </div>
                    </div>

                </li>
                <li class="">Hello again!</li>
                <li class="">Bazinga!</li>
            </ul>

        </div>
    </div>
</div>
