@using PhotoMSK.Areas.Default.ViewData.Photoshop
@using PhotoMSK.Extensiolns
@model IndexViewData

@{
    ViewBag.Title = "Index";
    }

<div class="uk-container uk-container-center pad-top">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <ul class="uk-breadcrumb">
                <li><a href="">Главная</a></li>
                <li class="uk-active"><span>Фотостудии</span></li>
            </ul>
        </div>

        @*---Фотостудии---*@
        <div class="uk-width-7-10">
            <h1 class="article-section">Фотостудии <span class="title-slash-orange">/</span></h1>

            @foreach (var item in Model.Page.Elements)
            {
                <div class="article-item">
                    <div class="image-article-photostudio">
                        <a href="#">
                            <img src="@item.ImageUrl" alt="" style="width: 100%;">
                        </a>
                    </div>

                    <div class="article-gray-line"></div>

                    <div class="article-title">
                        <h2><a href="@item.Url">@item.Name</a></h2>
                    </div>

                    <div class="photostudio-meta">
                        @*Город фотостудии*@
                        <p class="meta-desc">
                            <span class="icons-all icon-place"></span>
                            <span class="value">@item.City</span>
                        </p>
                        @*Ст. метро фотостудии*@
                        <p class="meta-desc">
                            <span class="icons-all icon-metro"></span>
                            <span class="value">@item.MetroStation</span>
                        </p>
                        @*Отзывы фотостудии*@
                        <p class="meta-desc">
                            <span class="icons-all icon-comments"></span>
                            @*        <span class="value"><a href="#">@item.Reviews отзыва</a>, @CalculateReviews(item)% положительных</span>*@
                        </p>
                    </div>

                    <div class="photostudio-meta">
                        <p class="meta-desc actual">
                            <span class="icons-all icon-accept"></span>
                            @*          <span class="value">@Actuality(item)</span>*@
                        </p>
                        <p class="meta-desc">
                            <span class="icons-all icon-phone"></span>
                            <span class="value drop-menu">@string.Join(",", item.Phones.Select(x => x))</span>
                        </p>
                    </div>
                    @*Контент фотостудии*@
                    <div class="article-content">
                        <p>
                            @Html.Markdown(item.Description)
                        </p>
                    </div>

                    <div class="article-spliter">
                        <hr>
                    </div>
                </div>
            }

        </div>

        @*---Фильтр фотостудий---*@
        <div class="uk-width-3-10">
            <h1 class="article-section">Фильтр <span class="title-slash-orange">/</span></h1>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Page.Elements.First().Shortcut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Page.Elements.First().Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Page.Elements)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shortcut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ID}) |
                @Html.ActionLink("Details", "Details", new {id = item.ID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.ID})
            </td>
        </tr>
    }

</table>