@model PhotoMSK.Data.Models.Routes.Masterclass
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <section class="uk-margin-remove">
            <div class="uk-section">
                <span class="uk-section__counter">1</span>
                <span class="uk-section__title">Загрузка обложки</span>
            </div>
            <div class="form-banner">
                <div class="form-banner__cover">
                    <div id="role-cover">
                        <img class="uk-border-rounded" src="@Url.Content("~/Content/images/no-cover-image.jpg")" alt="Ковер публичной страницы">
                    </div>
                    <div class="form-banner__button-cover form-banner__button--border uk-link-reset">
                        <a id="role-change-cover" href="#">Изменить обложку</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="uk-width-1-1">
        <section>
            <div class="uk-section">
                <span class="uk-section__counter">2&nbsp;</span>
                <span class="uk-section__title">Информация о мастер-классе</span>
            </div>

            <div class="uk-grid">
                <div class="uk-width-1-2">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <label class="label-ms">Название мастер-класса</label>
                            @*<input class="input-ms uk-width-large-1-1 uk-width-small-1-1" id="Title" name="Title" type="text" value="">*@
                            @Html.TextBoxFor(model => model.Title, new { @class = "input-ms uk-width-large-1-1 uk-width-small-1-1", data_role_input_required = "" })
                                @Html.ValidationMessageFor(model => model.Title)
                        </div>
                        <div class="uk-width-1-1">
                            <label class="label-ms">Короткая ссылка <i class="icon-help2" data-uk-tooltip title="Это ссылка позволит мгновенно перейти к вашей странице"></i></label>
                            <div class="input-group">
                                <div class="input-group-addon">www.photomsk.by/</div>
                                @*<input class="form-control input-ms uk-width-large-1-1 uk-width-small-1-1" id="Shortcut" name="Shortcut" type="text" value="">*@
                                @Html.TextBoxFor(model => model.Shortcut, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1", data_role_input_required="" })
                                    @Html.ValidationMessageFor(model => model.Shortcut)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2">
                    <label class="label-ms">Коротко о себе <i class="icon-help2" data-uk-tooltip title="Опишите кратко ваши преимущества"></i></label>
                    @*<textarea class="input-ms uk-width-large-1-1 uk-width-small-1-1" id="Description" name="Title" rows="7"></textarea>*@
                    @Html.TextAreaFor(model => model.Description, new { @class = "input-ms uk-width-large-1-1 uk-width-small-1-1", rows = 6, data_role_input_optional = "" })
                        @Html.ValidationMessageFor(model => model.Description)
                </div>

            </div>
        </section>
    </div>
    <div class="uk-width-1-1">
        <section>
            <div class="uk-section">
                <span class="uk-section__counter">3</span>
                <span class="uk-section__title">Время проведения</span>
            </div>

            <div class="uk-grid">
                <div class="uk-width-2-10">
                    <label class="label-ms">Дата <i class="icon-help2" data-uk-tooltip title="Введите первую дату проведения мастер-класса"></i></label>
                    @*<input class="form-control input-ms uk-width-large-1-1 uk-width-small-1-1" id="Shortcut" name="Shortcut" type="text" value="">*@
                    @Html.TextBoxFor(model => model.StartDay, new { @class = "input-ms uk-width-large-1-1 uk-width-small-1-1", data_role_input_optional="", data_uk_datepicker = "{format:'YYYY-MM-DD'}" })
                        @Html.ValidationMessageFor(model => model.StartDay)
                </div>
                <div class="uk-width-2-10">
                    <label class="label-ms">Дней <i class="icon-help2" data-uk-tooltip title="Введите количество дней проведения мастер класса"></i></label>
                    @*<input class="form-control input-ms uk-width-large-1-1 uk-width-small-1-1" id="Shortcut" name="Shortcut" type="text" value="">*@
                    @Html.TextBoxFor(model => model.Days, new { @class = "input-ms uk-width-large-1-1 uk-width-small-1-1", data_role_input_optional = "" })
                        @Html.ValidationMessageFor(model => model.Days)
                </div>
                <div class="uk-width-2-10">
                    <label class="label-ms">Начало<i class="icon-help2" data-uk-tooltip title="Введите время начала мастер-класса"></i></label>
                    @*<input class="form-control input-ms uk-width-large-1-1 uk-width-small-1-1" id="Shortcut" name="Shortcut" type="text" value="">*@
                    @Html.TextBoxFor(model => model.Start, new { @class = "input-ms uk-width-large-1-1 uk-width-small-1-1", data_role_input_optional = "", data_uk_timepicker = "{format:'24h'}" })
                        @Html.ValidationMessageFor(model => model.Start)
                </div>
                <div class="uk-width-2-10">
                    <label class="label-ms">Окончание <i class="icon-help2" data-uk-tooltip title="Введите время окончания мастер-класса"></i></label>
                    @*<input class="form-control input-ms uk-width-large-1-1 uk-width-small-1-1" id="Shortcut" name="Shortcut" type="text" value="">*@
                    @Html.TextBoxFor(model => model.End, new { @class = "input-ms uk-width-large-1-1 uk-width-small-1-1", data_role_input_optional = "", data_uk_timepicker = "{format:'24h'}" })
                        @Html.ValidationMessageFor(model => model.End)
                </div>
                <div class="uk-width-2-10">
                    <label class="label-ms">Человек в группе <i class="icon-help2" data-uk-tooltip title="Введите максимальное количество человек мастер-класса"></i></label>
                   @* <input class="form-control input-ms uk-width-large-1-1 uk-width-small-1-1" id="Shortcut" name="Shortcut" type="text" value="">*@
                    @Html.TextBoxFor(model => model.Listeners, new { @class = "input-ms uk-width-large-1-1 uk-width-small-1-1", data_role_input_optional = "" })
                        @Html.ValidationMessageFor(model => model.Listeners)
                </div>
            </div>

        </section>
    </div>

    <div class="uk-width-1-1">
        <section>
            <div class="uk-section">
                <span class="uk-section__counter">4</span>
                <span class="uk-section__title">Преподаватель мастер-класса</span>
            </div>

            <div class="uk-grid">
                <div class="uk-width-2-10 uk-push-2-10 uk-text-center">
                    <div id="role-avatar" class="uk-margin-bottom">
                        <img class="uk-border-circle uk-text-center" src="@Url.Content("~/Content/images/no-avatar.png")" width="150" height="150" alt="Аватарка страницы">
                    </div>
                    <a href="#" id="role-change-avatar" class="uk-link-muted uk-button uk-button-link uk-button--arround-dotted">Загрузить</a>
                </div>
                <div class="uk-width-4-10 uk-push-2-10">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <label class="label-ms">Фамилия</label>
                            <input class="form-control input-ms uk-width-large-1-1 uk-width-small-1-1" id="Shortcut" name="Shortcut" type="text" value="">
                            @*@Html.TextBoxFor(model => model.Title, new { @class = "input-ms uk-width-large-1-1 uk-width-small-1-1",data_role_input_optional="" })
    @Html.ValidationMessageFor(model => model.Title)*@
                        </div>
                        <div class="uk-width-1-1">
                            <label class="label-ms">Имя</label>
                            @*<input class="form-control input-ms uk-width-large-1-1 uk-width-small-1-1" id="Shortcut" name="Shortcut" type="text" value="">*@
                            @Html.TextBoxFor(model => model.AuthorName, new { @class = "input-ms uk-width-large-1-1 uk-width-small-1-1", data_role_input_optional = "" })
                                @Html.ValidationMessageFor(model => model.AuthorName)
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>



    <div class="uk-width-1-1 pad-top-40">
        <div class="uk-grid">
            <div class="uk-width-1-2 uk-text-center">
                <button class="uk-button" data-role-to-adminpanel>Назад</button>
            </div>
            <div class="uk-width-1-2 uk-text-center">
                <button class="uk-button uk-button-next-step" disabled data-role-next-step>Продолжить</button>
            </div>
        </div>
    </div>
</div>
