@using PhotoMSK.Extensiolns
@model PhotoMSK.Areas.Default.ViewData.Catalog.VitrineViewData
<div class="uk-grid uk-grid-small">
    <div class="uk-width-1-4">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <section class="uk-panel uk-panel-box">
                    <strong class="uk-h4">Каталог</strong>


                    <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="{multiple:true}">
                        @foreach (var item in Model.Categorieses)
                        {
                            <li class="uk-parent">
                                <a class="role-category" href="#" data-categoryid="@item.ID">@item.Name</a>
                                @if (item.Brands.Count > 0)
                                {
                                    <ul class="uk-nav-sub">
                                        @foreach (var ii in item.Brands)
                                        {
                                            <li><a data-role-brand-select data-brand-id="@ii.ID" href="#">@ii.Name</a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>

                </section>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-panel uk-panel-box uk-panel-box-item">
                    <ul class="uk-list uk-list-space">
                        <li>
                            <img src="@Url.Content("/Themes/photoprokat.by/Content/images/bg_link_matrix_clear.jpg")" class="uk-float-left" />
                            <a href="#" class="uk-link-muted">
                                <strong>Чистка матриц</strong>
                            </a>
                            <p class="uk-margin-remove uk-text-muted">И фотоаппарат как новый!</p>
                        </li>
                        <li>
                            <img src="@Url.Content("/Themes/photoprokat.by/Content/images/bg_link_childschool.png")" class="uk-float-left" />
                            <a href="#" class="uk-link-muted">
                                <strong>Детские медиа мастерские</strong>
                            </a>
                            <p class="uk-margin-remove uk-text-muted">Приучаем к прекрасному с детства</p>
                        </li>
                        <li>
                            <img src="@Url.Content("/Themes/photoprokat.by/Content/images/bg_link_matrix_clear.jpg")" class="uk-float-left" />
                            <a href="#" class="uk-link-muted">
                                <strong>Сдавайте вашу технику в аренду</strong>
                            </a>
                            <p class="uk-margin-remove uk-text-muted">Зарабатывайте на технике!</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-panel uk-panel-box uk-panel-box-item">
                    <strong class="uk-h3">ТОП-10</strong>

                    <ul class="uk-list uk-list-space uk-margin-left">
                        @if (Model.Technics != null)
                        {
                            foreach (var item in Model.Technics.Elements.Take(10))
                            {
                                <li>
                                    <a href="@item.Url()" class="uk-link-muted">
                                        @item.Name
                                    </a>
                                </li>
                            }
                        }                    
                    </ul>
                </div>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-panel uk-panel-box uk-panel-box-item">
                    <ul class="uk-grid uk-grid-width-1-3 uk-text-center">
                        <li>
                            <a href="#" target="_blank"><img src="http://www.rentaphoto.com/img/instagramm.jpg" alt="" title=""></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><img src="http://www.rentaphoto.com/img/instagramm.jpg" alt="" title=""></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><img src="http://www.rentaphoto.com/img/instagramm.jpg" alt="" title=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-width-3-4">
        <section class="uk-panel uk-panel-box uk-panel-box-item">
            <ul class="uk-list uk-flex uk-flex-wrap uk-grid-width-1-2 " data-role-PhototechnicsViewModel-placeholder></ul>
        </section>
    </div>
</div>
