@model PhotoMSK.Data.Models.Routes.Photomodel

<div class="uk-width-1-1">
    <div class="uk-section">
        <span class="uk-section__counter">4</span>
        <span class="uk-section__title">Данные</span>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-4">
            @Html.LabelFor(model => model.Age, "Дата рождения", new { @class = "label-ms" })
            @Html.TextBoxFor(model => model.Age, new { @class = "input-ms uk-width-large-1-1 uk-width-small-1-1" })
            @Html.ValidationMessageFor(model => model.Age)
        </div>
        <div class="uk-width-1-4">
            @Html.LabelFor(model => model.Gender, "Пол", new { @class = "label-ms" })
            @Html.TextBoxFor(model => model.Gender, new { @class = "input-ms uk-width-large-1-1 uk-width-small-1-1" })
            @Html.ValidationMessageFor(model => model.Gender)
        </div>
    </div>
</div>

<div class="uk-width-1-1">
    <div class="uk-section">
        <span class="uk-section__counter">5</span>
        <span class="uk-section__title">Параметры тела</span>
    </div>

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-2">
            <label class="label-ms">Рост</label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Height, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1" })
                <span class="input-group-addon">см.</span>
                @Html.ValidationMessageFor(model => model.Shortcut)
            </div>
        </div>
        <div class="uk-width-1-2">
            <label class="label-ms">Вес</label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Weight, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1" })
                <span class="input-group-addon">кг.</span>
                @Html.ValidationMessageFor(model => model.Weight)
            </div>
        </div>
        <div class="uk-width-1-4">
            <label class="label-ms">Грудь</label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Chest, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1" })
                <span class="input-group-addon">см.</span>
                @Html.ValidationMessageFor(model => model.Chest)
            </div>
        </div>
        <div class="uk-width-1-4">
            <label class="label-ms">Талия</label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Waist, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1" })
                <span class="input-group-addon">см.</span>
                @Html.ValidationMessageFor(model => model.Waist)
            </div>
        </div>
        <div class="uk-width-1-4">
            <label class="label-ms">Бедра</label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Hips, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1" })
                <span class="input-group-addon">см.</span>
                @Html.ValidationMessageFor(model => model.Hips)
            </div>
        </div>
        @*<div class="uk-width-1-2">
                <label class="label-ms">Размер груди</label>
                @Html.TextBoxFor(model => model.Chest, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1")
                @Html.ValidationMessageFor(model => model.Chest)
            </div>*@
    </div>
</div>

<div class="uk-width-1-1">
    @*<div class="uk-grid">
            <div class="uk-width-2-4 uk-offset-1-4">
                <ul class="uk-grid uk-grid-small uk-grid-width-1-3" data-uk-grid-margin>
                    @for (int i = 0; i < 10; i++)
                    {
                        <li>
                            <label for="item_1" class="uk-input-checkbox-big">
                                <input type="checkbox" name="" id="item_1" class="check">
                                <span class="line">Наличие унитаза</span>
                            </label>
                        </li>
                    }
                </ul>
            </div>
        </div>*@

    <div class="uk-section">
        <span class="uk-section__counter">6</span>
        <span class="uk-section__title">Голова</span>
    </div>

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-2">
            <label class="label-ms">Длина волос</label>
            @Html.TextBoxFor(model => model.HairLength, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1" })
            @Html.ValidationMessageFor(model => model.HairLength)
        </div>
        <div class="uk-width-1-2">
            <label class="label-ms">Цвет волос</label>
            @Html.TextBoxFor(model => model.HairColor, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1" })
            @Html.ValidationMessageFor(model => model.HairColor)
        </div>
        <div class="uk-width-1-2">
            <label class="label-ms">Цвет глаз</label>
            @Html.TextBoxFor(model => model.EyesColor, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1" })
            @Html.ValidationMessageFor(model => model.EyesColor)
        </div>
        <div class="uk-width-1-2">
            <label class="label-ms">Тип лица</label>
            @Html.TextBoxFor(model => model.FaceType, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1" })
            @Html.ValidationMessageFor(model => model.FaceType)
        </div>
    </div>
</div>

<div class="uk-width-1-1">
    <div class="uk-section">
        <span class="uk-section__counter">7</span>
        <span class="uk-section__title">Параметры</span>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-2">
            <label class="label-ms">Размер одежды</label>
            @Html.TextBoxFor(model => model.ClothingSize, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1" })
            @Html.ValidationMessageFor(model => model.ClothingSize)
        </div>
        <div class="uk-width-1-2">
            <label class="label-ms">Размер обуви</label>
            @Html.TextBoxFor(model => model.ShoesSize, new { @class = "form-control input-ms uk-width-large-1-1 uk-width-small-1-1" })
            @Html.ValidationMessageFor(model => model.ShoesSize)
        </div>
    </div>
</div>